body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: #d5d5d5;
}

header {
  background: rgb(53 72 71);
  display: flex;
  padding: 10px 4px;
  justify-content: space-between;
}

.boton {
  background: #ffffff;
  padding: 6px 12px;
  border-radius: 8px;
  margin: 4px 8px;
  color: rgb(53 72 71);
  font-size: medium;
}

a {
  text-decoration: none;
  color: inherit;
}

#contenedor {
  display: flex;
  width: 100%;
}

.cursos {
  background: white;
  border-radius: 8px;
  display: flex;
  padding: 8px;
  margin: 10px;
  flex-direction: column;
  gap: 10px;
  width: 60%;

}

.enfermeros {
  background: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  margin: 10px;
  flex-direction: column;
  width: 40%;
  gap: 10px;
}

#curso {
  font-size: medium;
  width: 250px;
  padding: 6px 12px;
  border: 2px solid rgb(53 72 71);
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

#enfermero {
  font-size: large;
  padding: 10px;
  border: 2px solid rgb(53 72 71);
  border-radius: 8px;
  background-color: white;
}

.boton-agregar {
  background: white;
  padding: 6px 12px;
  border-radius: 8px;
  border: rgb(53 72 71) 2px solid;
  color: rgb(53 72 71);
  display: flex;
  align-items: center;
  justify-content: center;
}

.agregar-enfermero {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

tbody {
  background: white;
  color: rgb(53 72 71);
}

thead {
  font-size: large;
  background: rgb(53 72 71);
  color: white;
}

table {
  width: 100%;
}

th {
  padding: 4px;
}

.buscador {
  display: flex;
  justify-content: space-between;
}
