<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{agregar-alumno.css}">
  <title>Agregar Alumno</title>
</head>
<body>
<header>
  <div class="boton">
    <a href="/gestion">Volver</a>
  </div>
</header>

<div class="padre">
  <div class="contenedor">

    <form action="/insertar-alumno" method="post">
      <div class="entradas">
        <a>RUT</a>
        <label>
          <input type="text" name="rut" placeholder="11.222.333-4">
        </label>
      </div>

      <div class="entradas">
        <a>Nombres</a>
        <label>
          <input type="text" name="nombres" placeholder="Juan Camilo">
        </label>
      </div>

      <div class="entradas">
        <a>Apellidos</a>
        <label>
          <input type="text" name="apellidos" placeholder="Pérez Aravena">
        </label>
      </div>

      <div class="entradas">
        <a>Teléfono contacto</a>
        <label>
          <input type="text" name="telefonoContacto" placeholder="+56912345678">
        </label>
      </div>

      <div class="entradas">
        <a>Curso</a>
        <label for="curso"></label>
        <select name="cursoId" id="curso">
          <option value="">Seleccione un curso</option>
          <option th:each="curso : ${cursos}"
                  th:value="${curso.id}"
                  th:text="${curso.nombre}">
          </option>
        </select>
      </div>

      <div>
        <button type="submit">Agregar</button>
      </div>
    </form>

  </div>

</div>
</body>
</html>