<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{agregar-enfermero.css}">
  <title>Agregar Enfermero</title>
</head>
<body>

  <div class="padre">
    <div class="contenedor">

      <div class="entradas">
        <a>RUT</a>
        <label id="rut">
          <input type="text" placeholder="11.222.333-4">
        </label>
      </div>

      <div class="entradas">
        <a>Nombres</a>
        <label id="nombres">
          <input type="text" placeholder="Juan Camilo">
        </label>
      </div>

      <div class="entradas">
        <a>Apellidos</a>
        <label id="apellidos">
          <input type="text" placeholder="Pérez Aravena">
        </label>
      </div>

      <a id="boton-agregar">Agregar</a>
    </div>
  </div>

</body>
</html>