<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{gestion.css}">
  <title>Gestión</title>
</head>
<body>

  <header>
    <div class="boton">
      <a href="/index">Volver</a>
    </div>
  </header>

  <div id="contenedor">

    <div class="cursos">

      <div class="buscador">
        <a class="titulo">Alumnos</a>
        <div>
        <label for="curso"></label>
          <select name="curso" id="curso">
            <option value="">Seleccione un curso</option>
            <option
                    th:each="curso : ${cursos}"
                    th:value="${curso.id}"
                    th:text="${curso.nombre}">
            </option>
          </select>
        </div>

        <a class="boton-agregar">Agregar alumno</a>
      </div>

      <div class="contenedor-tabla">
        <table>
          <thead>
          <tr>
            <th>RUT</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Contacto</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
      </div>

    </div>

    <div class="enfermeros">

      <div class="agregar-enfermero">
        <a class="titulo">Enfermeros</a>
        <a href="/agregar-enfermero" class="boton-agregar">Agregar enfermero</a>
      </div>

      <div class="contenedor-tabla">
        <table>
          <thead>
          <tr>
            <th>RUT</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
            <tr th:each="enfermero : ${enfermeros}" class="fila">
              <td th:text="${enfermero.rut}"></td>
              <td th:text="${enfermero.nombres}"></td>
              <td th:text="${enfermero.apellidos}"></td>
              <td>
                <a th:href="@{/editar-enfermero/{id}(id=${enfermero.id})}"
                   class="btn-eliminar">
                  Editar
                </a>
              </td>
              <td>
                <a th:href="@{/eliminar-enfermero/{id}(id=${enfermero.id})}"
                   class="btn-eliminar"
                   onclick="return confirm('¿Estás seguro de que deseas eliminar a este enfermer@?');">
                  Eliminar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>



</body>
</html>