<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{index.css}">
  <title>Inicio</title>
</head>

<body>
  <header>
    <div class="panel-superior">
      <div class="boton">
        Accidentes
      </div>
      <div class="boton">
        Medicamentos
      </div>
      <div class="boton">
        Seguimiento
      </div>
      <div class="boton">
        Registro Llamadas
      </div>
    </div>

    <div class="boton">
      <a href="/gestion"> Gestión </a>
    </div>
  </header>

  <div class="contenedor">
    <div>
      <table>
        <thead>
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Curso</th>
            <th>Fecha</th>
            <th>Contacto</th>
            <th>Ingreso</th>
            <th>Salida</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

    <div class="contenedor-inferior">
      <div class="boton-inferior">
        Agregar Atención
      </div>
    </div>
  </div>

</body>

</html>